<center>
    <h1>Edit Order Details</h1>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p style = "color:red"><%= error %></p>
        <% end %>
    <% end %>

    <%= render 'order_form' %>
</center>
