<h1>Update Product Details</h1>
<%= form_with model: @product do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :desc, placeholder: "desc" %>
  <%= form.submit %>
<% end %>
